*{
    background-color:tomato;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: aliceblue;
}

h1{
    text-transform:uppercase;
    text-align: center;
    text 
}

img{
    display: block;
    margin-left:auto;
    margin-right:auto;

}